img{
    max-height:250px;
    max-width:200px;
    margin: 18px
}

mat-slide-toggle{
    margin-bottom: 18px;
}

.mid-card{
    display: flex;
    align-items: center;
}

.mid-text{
    margin-top: 18px
}

.rename {
    display: flex;
    align-items: center;
    display: none;
}

.loading{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.type-film{
    border: 1px solid white;
    color: white;
    background-color: orangered;
    border-radius: 25px;
    padding: 5px;
    margin-left: 10px;
}

.type-series{
    border: 1px solid white;
    color: white;
    background-color: purple;
    border-radius: 25px;
    padding: 5px;
    margin-left: 10px;
}

.network-logo{
    max-height:50px;
    max-width:70px;
    margin: 0;
    margin-left: 5px;
}

.network-list{
    display: flex;
    align-items: center;
}